<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGKboxCbYH7ZceK5dq8FSPJtcbny-KCxY</string>
	<key>GCM_SENDER_ID</key>
	<string>646399259264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anonymous.app</string>
	<key>PROJECT_ID</key>
	<string>cultucat-daa16</string>
	<key>STORAGE_BUCKET</key>
	<string>cultucat-daa16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646399259264:ios:4d4feec03675d60e956c65</string>
</dict>
</plist>